<style type="text/css">
    .sidebar-menu ul li a, .sidebar-menu li a {
        font-weight: 500 !important;
    }

    .sidebar-menu ul li a {
        margin-left: 20px;
    }
    .main-sidebar{
        /*padding-top: 0;*/
    }
</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">    
            <li class="header" hidden>Chức năng</li>
            <li class="trang-chu">
                <a href="/SpreadShirt">
                    <i class="glyphicon glyphicon-hand-right"></i> <span>Spread Shirts</span>
                </a>
            </li>
            <li class="trang-chu">
                <a href="/TeeChip">
                    <i class="glyphicon glyphicon-hand-right"></i> <span>Teechip Pro</span>
                </a>
            </li>
            <li class="treeview ql-taikhoan">
                <a href="#">
                    <i class="glyphicon glyphicon-th-list"></i> <span>Account</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="qltk-doi-mk"><a href="/DoiMatKhau"><i class="fa fa-key"></i> Đổi mật khẩu</a></li>
                    <li class="qltk-lsgiaodich"><a href="/LichSuRutTien"><i class="fa fa-history"></i> Lịch sử rút tiền</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
