<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - Tool Auto Upload</title>
    <link rel="icon" type="image/ico" href="~/spreadshirt_icon.ico">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Assets/logincss")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
</head>
<body class="hold-transition login-page background-login">
    @RenderBody()
</body>
</html>
