@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "SpreadShirt";
    Layout = "~/Views/Shared/_Theme.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/SpreadShirt/spread-core.js"></script>
<script src="~/Scripts/SpreadShirt/spread-login.js"></script>

<button class="btn btn-success" id="login">Login</button>