@{
    ViewBag.Title = "Home Page";
}

<section class="section-packages">
    <div class="shell">
        <ul class="packages">
            <li class="package">
                <div class="package-head">
                    <h4>STARTER</h4>

                    <div class="package-price">
                        <small>USD</small>
                        <strong>4.95</strong>

                        <p>per month</p>
                    </div><!-- /.package-price -->
                </div><!-- /.package-head -->

                <div class="package-body">
                    <p>Perfect for people who just <br> started their first website.</p>
                </div><!-- /.package-body -->

                <div class="package-actions">
                    <a href="https://billing.stablehost.com/cart.php?a=add&pid=90" class="btn btn-primary btn-transparent">Sign Up Now</a>
                </div><!-- /.package-actions -->
            </li><!-- /.package -->

            <li class="package">
                <div class="package-head">
                    <h4>PRO</h4>

                    <div class="package-price">
                        <small>USD</small>
                        <strong>8.95</strong>

                        <p>per month</p>
                    </div><!-- /.package-price -->
                </div><!-- /.package-head -->

                <div class="package-body">
                    <p>Perfect for people who have <br> multiple websites.</p>
                </div><!-- /.package-body -->

                <div class="package-actions">
                    <a href="https://billing.stablehost.com/cart.php?a=add&pid=91" class="btn btn-primary btn-transparent">Sign Up Now</a>
                </div><!-- /.package-actions -->
            </li><!-- /.package -->

            <li class="package package-highlight">
                <div class="package-head">
                    <h4>PLATINUM</h4>

                    <div class="package-price">
                        <small>USD</small>

                        <strong>29.95</strong>

                        <p>per month</p>
                    </div><!-- /.package-price -->
                </div><!-- /.package-head -->

                <div class="package-body">
                    <p>Perfect for large websites that require <br> powerful hosting.</p>
                </div><!-- /.package-body -->

                <div class="package-actions">
                    <a href="https://billing.stablehost.com/cart.php?a=add&pid=92" class="btn btn-primary btn-transparent">Sign Up Now</a>

                </div><!-- /.package-actions -->
            </li><!-- /.package -->
        </ul><!-- /.packages -->
    </div><!-- /.shell -->
</section><!-- /.section-packages -->

<section class="section-features-primary">
    <div class="shell">
        <h1>Features Comparison</h1>

        <div class="table-primary">
            <table>
                <thead>
                    <tr>
                        <th>FEATURES</th>

                        <th>STARTER</th>

                        <th>PRO</th>

                        <th>PLATINUM</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Disk Space</td>

                        <td>Unlimited</td>

                        <td>Unlimited</td>

                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>Bandwidth</td>

                        <td>Unlimited</td>

                        <td>Unlimited</td>

                        <td>Unlimited</td>
                    </tr>


                    <tr>
                        <td>Websites</td>

                        <td>1</td>

                        <td>Unlimited</td>

                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>Support Methods</td>

                        <td>24/7/365 ( Email )</td>

                        <td>24/7/365 ( Email )</td>

                        <td>24/7/365 ( Email &amp; Phone )</td>
                    </tr>

                    <tr>
                        <td>VIP Support</td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>
                    </tr>

                    <tr>
                        <td>Accounts Per Server</td>

                        <td>500</td>

                        <td>500</td>

                        <td>50</td>
                    </tr>

                    <tr>
                        <td>Max Files (INodes)</td>

                        <td>250,000</td>

                        <td>250,000</td>

                        <td>500,000</td>
                    </tr>

                    <tr>
                        <td>CPU</td>

                        <td>1 Full CPU Core</td>

                        <td>1 Full CPU Core</td>

                        <td>2 Full CPU Cores</td>
                    </tr>

                    <tr>
                        <td>MySQL Connections</td>

                        <td>25</td>

                        <td>25</td>

                        <td>50</td>
                    </tr>

                    <tr>
                        <td>SLA</td>

                        <td>99.9%</td>

                        <td>99.9%</td>

                        <td>99.99%</td>
                    </tr>

                    <tr>
                        <td>Script Troubleshooting</td>

                        <td><i class="ico-circle-inclide"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>
                    </tr>

                    <tr>
                        <td>Hacked / Compromised Repair</td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>
                    </tr>

                    <tr>
                        <td>SpamExperts Spam Filtering</td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-none"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>
                    </tr>

                    <tr>
                        <td>DDoS Protection - 2Gbit/s</td>

                        <td><i class="ico-circle-inclide"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>

                        <td><i class="ico-circle-inclide"></i></td>
                    </tr>

                </tbody>
            </table>

        </div><!-- /.table-primary -->
    </div><!-- /.shell -->
</section><!-- /.section-features-primary -->

<section class="section-features">
    <div class="shell">
        <header class="section-head">
            <h1>Why promote StableHost?</h1>

            <p>
                <a class="link-show-more" href="#">+ Show More Features</a>
            </p>
        </header><!-- /.section-head -->

        <div class="section-body">

        </div><!-- /.section-body -->
    </div><!-- /.shell -->
</section>

<section class="section-features-more">
    <div class="shell">
        <a href="#" class="link-close-section">
            <i class="ico-x"></i>
        </a>

        <h1>All Included Features</h1>

        <div class="cols">
            <div class="col col-1of4">
                <h5>Control Panel</h5>

                <ul class="list-checks">
                    <li>Unlimited MySQL Databases</li>

                    <li>Unlimited FTP Accounts</li>

                    <li>Webalizer, Analog &amp; Awstats</li>

                    <li>Stats</li>

                    <li>Site.Pro Web Builder</li>

                    <li>Softaculous (1-Click Scripts)</li>

                    <li>R1Soft Daily Backups</li>

                    <li>Let's Encrypt Certificates</li>
                </ul><!-- /.list-checks -->
            </div><!-- /.col col-1of4 -->

            <div class="col col-1of4">
                <h5>Email</h5>

                <ul class="list-checks">
                    <li>Unlimited E-Mail Accounts</li>

                    <li>Unlimited Forwards</li>

                    <li>Unlimited Auto Responders</li>

                    <li>Unlimited Mailing Lists</li>

                    <li>Virus / Spam Filtering</li>

                    <li>IMAP and POP3</li>

                    <li>Port 25/26 SMTP</li>

                    <li>Online WebMail</li>

                    <li>SSL POP3, IMAP &amp; SMTP</li>
                </ul><!-- /.list-checks -->
            </div><!-- /.col col-1of4 -->

            <div class="col col-1of4">
                <h5>Server</h5>

                <ul class="list-checks">
                    <li>SSH Access (Additional fee)</li>

                    <li>24/7 Server Monitoring</li>

                    <li>Starting at 36G of RAM</li>

                    <li>Unlimited Bandwidth</li>

                    <li>Anycast Clustered DNS</li>

                    <li>SSD Drives</li>

                    <li>Litespeed</li>

                    <li>Phoenix, Chicago and</li>

                    <li>Amsterdam Datacenters</li>
                </ul><!-- /.list-checks -->
            </div><!-- /.col col-1of4 -->

            <div class="col col-1of4">
                <h5>Developer</h5>

                <ul class="list-checks">
                    <li>PHP 5.3.x, 5.4.x, 5.5.x,</li>

                    <li>5.6.x and 7.0.x Support</li>

                    <li>MariaDB / MySQL</li>

                    <li>Perl 5.8.8</li>

                    <li>Server Side Includes</li>

                    <li>Free Perl Module Installation</li>
                </ul><!-- /.list-checks -->
            </div><!-- /.col col-1of4 -->
        </div><!-- /.cols -->
    </div><!-- /.shell -->
</section><!-- /.section-features-more -->

<section class="section-question section-question-secondary">
    <div class="shell">
        <header class="section-head section-head-secondary">
            <h1>Discover <strong>Clustered Hosting</strong></h1>

            <h5>Clustered hosting offers high availability, performance and scalability.</h5>
        </header><!-- /.section-head -->

        <div class="section-body">
            <div class="section-content section-content-fluid">
                <div class="section-content-inner">
                    <p>Say goodbye to traditional web hosting. No longer will you need to worry about your website being down for days, or another customer affecting your website.</p>

                    <ul class="list-info">
                        <li><i class="ico-arrow-left-list"></i> 100+ Clustered SSD Drives</li>

                        <li><i class="ico-arrow-left-list"></i> Automatic Node Failover</li>

                        <li><i class="ico-arrow-left-list"></i> Automatic IO Re-allocation</li>
                        <li><i class="ico-arrow-left-list"></i> Smart Load Balancing</li>
                    </ul><!-- /.list-info -->

                    <div class="section-actions">
                        <a href="/clusters.php" class="btn btn-medium btn-green-alt">Learn More</a>

                    </div><!-- /.section-actions -->
                </div><!-- /.section-content-inner -->

                <div class="info-box">
                    <ul class="info-box-legend">
                        <li class="info-box-legend-green">
                            <span>StableHost</span>
                        </li>

                        <li class="info-box-legend-dark">
                            <span>Traditional Web Hosting</span>
                        </li>
                    </ul><!-- /.info-box-legend -->

                    <div class="info-box-cols">
                        <div class="info-box-col">
                            <h5 class="info-box-title">
                                <i class="ico-disk-3-small"></i>

                                <i class="ico-arrow-down"></i>

                                <span>Sequential Read</span>
                            </h5><!-- /.info-box-title -->

                            <div class="info-box-bars">
                                <span>1 thread</span>

                                <div class="info-box-bars-dark" style="width: 28%;">
                                    <span>40%</span>
                                </div><!-- /.info-box-bars-dark -->

                                <div class="info-box-bars-green">
                                    <span></span>

                                    <span>16 270 MB/s</span>
                                </div><!-- /.info-box-bars-dark -->
                            </div><!-- /.info-box-bars -->

                            <div class="info-box-bars">
                                <span>4 thread</span>

                                <div class="info-box-bars-dark" style="width: 45%;">
                                    <span>63%</span>
                                </div><!-- /.info-box-bars-dark -->

                                <div class="info-box-bars-green">
                                    <span></span>

                                    <span>20 143 MB/s</span>
                                </div><!-- /.info-box-bars-dark -->
                            </div><!-- /.info-box-bars -->
                        </div><!-- /.info-box-col -->

                        <div class="info-box-col">
                            <h5 class="info-box-title">
                                <i class="ico-disk-3-small"></i>

                                <i class="ico-arrow-up"></i>

                                <span>Sequential Write</span>
                            </h5><!-- /.info-box-title -->

                            <div class="info-box-bars">
                                <span>1 thread</span>

                                <div class="info-box-bars-dark" style="width: 25%;">
                                    <span>37%</span>
                                </div><!-- /.info-box-bars-dark -->

                                <div class="info-box-bars-green">
                                    <span></span>

                                    <span>3 739 MB/s</span>
                                </div><!-- /.info-box-bars-dark -->
                            </div><!-- /.info-box-bars -->

                            <div class="info-box-bars">
                                <span>4 thread</span>

                                <div class="info-box-bars-dark" style="width: 38.3%;">
                                    <span>53%</span>
                                </div><!-- /.info-box-bars-dark -->

                                <div class="info-box-bars-green">
                                    <span></span>

                                    <span>6 007 MB/s</span>
                                </div><!-- /.info-box-bars-dark -->
                            </div><!-- /.info-box-bars -->
                        </div><!-- /.info-box-col -->
                    </div><!-- /.info-box-cols -->
                </div><!-- /.info-box -->
            </div><!-- /.section-content -->
        </div><!-- /.section-body -->
    </div><!-- /.shell -->
</section><!-- /.section-question -->
<!-- AdRoll -->
