@model Upload.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div id="loginbox">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "recoverform", @class = "form-vertical", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <p class="normal_text">Nhập Email đã đăng ký vào bên dưới, chúng tôi sẽ gửi link xác nhận cấp mật khẩu mới cho bạn. </p>
        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                @Html.TextBoxFor(m => m.Email, new { id = "EmailRecover", @class = "form-control", placeholder = "E-mail address" })
            </div>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-actions">
            <span class="pull-left"><a href="/Account/Login" class="flip-link btn btn-success" id="to-login">&laquo; Quay lại</a></span>
            <span class="pull-right"><button id="confirmRecover" type="submit" class="btn btn-info">Xác nhận</button></span>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
